html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

#canvas {
  margin-top: 5px;
  padding: 0;
  /* margin: auto; */
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  outline: #3F3F3F 5px solid;
  /* background-color: black; */
}
#fieldbg {
  margin-top: 5px;
  padding: 0;
  /* margin: auto; */
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#canvasbg {
  margin-top: 5px;
  padding: 0;
  /* margin: auto; */
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}